<div class="row justify-content-center align-items-center p-4">
  <div class="col-lg-4 col-md-6 text-center mt-4">

    <!-- Fine Circle Responsive Image -->
    <div id="container" class="my-2">
      <div id="dummy"></div>
      <div id="element">
        <img src="{{ site.author.avatar }}" alt="{{ site.title }}" class="circle-image wow animated bounceIn" data-wow-delay=".1s">
      </div>
    </div>

    <p class="text-muted wow animated slideInUp" data-wow-delay=".15s"><b>Interested?</b> <br><a href="tel:{{ site.author.phone }}">Let's talk about your project!</a></p>

  </div>
</div>